<ion-header>
  <ion-navbar>
    <ion-title>
      Slash My Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card class="user">
    <ion-card-content>
      <img
        class="avatar"
        [src]="homeService.lastImage"
        (click)="homeService.presentActionSheet()"
      >

      <form
        *ngIf="userForm"
        [formGroup]="userForm"
        (submit)="formSubmit($event, userForm.valid)"
      >
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input
            type="text"
            formControlName="userName"
          ></ion-input>
        </ion-item>
        <ion-item
          class="error-label"
          *ngIf="userForm.controls.userName.errors && submitFlag"
        >
          Username is required
        </ion-item>

        <ion-item>
          <ion-label floating>Email</ion-label>
          <ion-input
            type="email"
            formControlName="userEmail"
          ></ion-input>
        </ion-item>

        <ng-template [ngIf]="!userForm.controls.userEmail.pristine || submitFlag">
          <ion-item
            class="error-label"
            *ngIf="userForm.controls.userEmail.errors && userForm.controls.userEmail.errors.required"
          >
            Email is required
          </ion-item>
          <ion-item
            class="error-label"
            *ngIf="userForm.controls.userEmail.errors &&  userForm.controls.userEmail.errors.email"
          >
            Email format is invalid
          </ion-item>
        </ng-template>

        <ion-list radio-group>
          <ion-label class="radiogroup-label">Gender</ion-label>
          <ion-item >
            <ion-label>Male</ion-label>
            <ion-radio value="male"></ion-radio>
          </ion-item>
          <ion-item >
            <ion-label>Female</ion-label>
            <ion-radio value="female"></ion-radio>
          </ion-item>

        </ion-list>

        <ion-item>
          <ion-label floating>Bio</ion-label>
          <ion-input
            type="text"
            formControlName="userBio"
          ></ion-input>
        </ion-item>

        <button
          ion-button
          type="submit"
          class="submit"
        >SAVE</button>
      </form>

    </ion-card-content>
  </ion-card>

  <ion-card class="map">
    <ion-card-content>
      <agm-map
        [latitude]="gmapSetup.latitude"
        [longitude]="gmapSetup.longitude"
        [scrollwheel]="gmapSetup.scrollWheel"
        [zoom]="gmapSetup.zoom"
        [styles]="gmapSetup.styles"
        #gmap
      >
        <agm-marker
          [latitude]="gmapSetup.latitude"
          [longitude]="gmapSetup.longitude"
          (markerClick)="gmap.lastOpen?.close(); gmap.lastOpen = infoWindow"
        >
          <agm-info-window #infoWindow>
            <strong>Latitude:</strong> {{ gmapSetup.latitude }} <br>
            <strong>Longitude:</strong> {{ gmapSetup.longitude }}
          </agm-info-window>
        </agm-marker>
      </agm-map>

      <div
        class="loading"
        *ngIf="loadingGeolocationFlag"
      >
        <ion-icon
          name="md-refresh-circle"
          class="loading-icon"
        ></ion-icon>
      </div>

      <button
        ion-button
        class="submit"
        (click)="setGeolocation(gmapSetup)"
      >GET MY LOCATION&nbsp;
        <ion-icon name="md-locate"></ion-icon>
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
