page-home {

  ion-card.user {
    position: relative;

    &:before {
      content:'';
      display:block;
      height:100px;
      background:#437EFF;
      margin-bottom:50px;
    }

    .avatar {
      display:block;
      position:absolute;
      z-index: 1;
      width:100px;
      height:100px;
      border:solid 2px white;
      border-radius: 50px;
      background:white;
      top:50px;
      left:calc(50% - 50px);
      overflow: hidden;
      box-shadow: 0 0 4px black;
    }

    .radiogroup-label {
      color: #999;
      margin-left: 15px;
      position: relative;
      top: 10px;
      font-size: 16px;;
    }
  }

  .error-label {
    color:#CC0000;
    position: relative;

    ion-label {
      padding-right:20px;
    }
  }

  .submit {
    float:right;
    margin: 20px 0;
  }

  agm-map {
    width:100%;
    height:300px;
    position: relative;
    background: #111111;
  }

  ion-card.map {
    position: relative;

    .loading {
      width:calc(100% - 26px);
      height:300px;
      position: absolute;
      z-index:1;
      background:rgba(0,0,0,0.5);
      pointer-events: none;
      left:13px;
      top:13px;

      ion-icon {
        color:white;
        animation:rotation 1s infinite linear;
        font-size:50px;
        position: absolute;
        left:calc(50% - 18px);
        top:calc(50% - 18px);
      }
    }
  }

}


@keyframes rotation {
  0% { transform:rotate(0deg) }
  50% { transform:rotate(180deg) }
  100% { transform:rotate(359deg) }
}
